<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181871412352-irvaidqsegqqsin961j5as9had1ohsim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181871412352-irvaidqsegqqsin961j5as9had1ohsim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181871412352-ahrc9g6nk1n6lbfulc95i2eg2nnpg9te.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nefUWWvt6wWDzMH8MUMKPOmKvXHtYqk</string>
	<key>GCM_SENDER_ID</key>
	<string>181871412352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chronosphere.closeai</string>
	<key>PROJECT_ID</key>
	<string>closeai-9376f</string>
	<key>STORAGE_BUCKET</key>
	<string>closeai-9376f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181871412352:ios:6bdbe894a11f8b355bd265</string>
</dict>
</plist>